<html>
    <body>
        <!-- Start Confirmation Mail-->
        <h3>Welcome to Bilemo</h3>

        Hello {{ name }} !
        <br>
        Your account have been created !
        <br>
        Use your identifiers to sign in in our API :
        <br>
        Login link : <a href="https://bilemo.jeandescorps.fr/login">https://bilemo.jeandescorps.fr/login</a>
        <br>
        "email" : "{{ email }}"
        <br>
        "password" : "{{ password }}"

        <br><br>
        Cordially,

        <h3>Bilemo.</h3>
        <!-- End Confirmation Mail -->
    </body>
</html>